doctype html
include sidebar
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")
html
    head
        script(src="/javascripts/index.js")
        script(src="/javascripts/utils.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        link(rel='stylesheet', type="text/css", href="/stylesheets/style.css")
        title= title
    body
        .banner
            h1
                | Banner!
        if loggedIn
            script(src="/javascripts/loggedIn.js")
            +sb(renderedSidebar)
        else
            script(src="/javascripts/loggedOut.js")
            +login
        .content
            h1= message