//
   Created by root on 3/16/16.

mixin BoardManagerBody(content)
    select.boards(name="select")
    each board in content['boards']
        +option=board


mixin StandardBody(content)
    h1= content.text